@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98.0392%;
    --foreground: 217.2414 32.5843% 17.451%;
    --card: 0 0% 100%;
    --card-foreground: 217.2414 32.5843% 17.451%;
    --popover: 0 0% 100%;
    --popover-foreground: 217.2414 32.5843% 17.451%;
    --primary: 217.0335 100% 59.0196%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13.0435% 90.9804%;
    --secondary-foreground: 216.9231 19.1176% 26.6667%;
    --muted: 220 14.2857% 95.8824%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 226.4516 100% 93.9216%;
    --accent-foreground: 216.9231 19.1176% 26.6667%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --warning: 42 100% 50%;
    --warning-foreground: 0 0% 9%;
    --border: 216 12.1951% 83.9216%;
    --input: 216 12.1951% 83.9216%;
    --ring: 238.7324 83.5294% 66.6667%;
    --chart-1: 238.7324 83.5294% 66.6667%;
    --chart-2: 243.3962 75.3555% 58.6275%;
    --chart-3: 244.5205 57.9365% 50.5882%;
    --chart-4: 243.6522 54.5024% 41.3725%;
    --chart-5: 242.1687 47.4286% 34.3137%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 222.2222 47.3684% 11.1765%;
    --foreground: 214.2857 31.8182% 91.3725%;
    --card: 217.2414 32.5843% 17.451%;
    --card-foreground: 214.2857 31.8182% 91.3725%;
    --popover: 217.2414 32.5843% 17.451%;
    --popover-foreground: 214.2857 31.8182% 91.3725%;
    --primary: 217.0335 100% 59.0196%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219.3103 16.2011% 35.098%;
    --secondary-foreground: 215.5102 96.0784% 90%;
    --muted: 217.2414 32.5843% 17.451%;
    --muted-foreground: 217.8947 10.6145% 64.902%;
    --accent: 216.9231 16.4557% 30.9804%;
    --accent-foreground: 216 36.5854% 91.9608%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 222.2222 47.3684% 11.1765%;
    --warning: 42 100% 60%;
    --warning-foreground: 0 0% 9%;
    --border: 215 13.7931% 34.1176%;
    --input: 215 13.7931% 34.1176%;
    --ring: 234.4538 89.4737% 73.9216%;
    --chart-1: 234.4538 89.4737% 73.9216%;
    --chart-2: 238.7324 83.5294% 66.6667%;
    --chart-3: 243.3962 75.3555% 58.6275%;
    --chart-4: 244.5205 57.9365% 50.5882%;
    --chart-5: 243.6522 54.5024% 41.3725%;
    --radius: 0.5rem;
  }
}
